<div class="text-center">
  
  <div class="main-card mb-3 card">  
  <h3>Gestion des films</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm">
  <input type="search" class=" rounded"   style="margin-top: 20px;margin-left: 20px;"  [(ngModel)]="filterString" (ngModelChange)="onFilterChange()" placeholder="Recherche" aria-label="Search" aria-describedby="search-addon" />
 
 </div> 
 <div class="col-sm">
   </div>
   <div class="col-sm">
  </div>
  <div class="col-sm">
  </div>
 <div class="col-sm">

   </div> 
</div>

<div   style="margin-top: 20px;"  >
 <div class="main-card mb-3 card">
   <div class="card-header">
    <b>Liste des Films</b>
   </div>
   <div class="table-responsive">
     <table  class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Titre</th>
         
          <!--<th class="text-center">Qualite</th>
          <th class="text-center">Nationalite</th> -->
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
      
        <tr *ngFor="let film of filtered   | paginate: { itemsPerPage: 5, currentPage: p }">
      
          <td class="text-center">{{film.id}}</td>
          <td class="text-center">{{film.titre}}</td>
      
          <td class="text-center">
            <button type="button" style="margin-top: 20px;margin-right:2%" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  (click)="openModal(template,film.id)" >
          Photo Princ.
               </button> 
               <button type="button" style="margin-top: 20px;margin-right:2%" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"  (click)="openModal2(template2)" >
            Photo Couverture
                 </button> 
                 <button type="button" style="margin-top: 20px;margin-right:2%" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal"  (click)="openModal(template)" >
                  Autres Photo
                       </button> 
            <!--<button class="mr-2 btn-icon btn-icon-only btn btn-primary" >
              <i class="pe-7s-photo btn-icon-wrapper"> </i>
            </button>-->
          </td>
      
        </tr>
      </tbody>
    </table>
   </div>
 </div>
 
 </div>

 <div class="pagination">
  <pagination-controls class="text-center" (pageChange)="p = $event" class="float-right"></pagination-controls>
</div>
 
 <!--ajout profile image film-->
 <ng-template #template>

  <div class="content-content">
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <!-- main app container -->
    <div class="card m-3">
      
      <div class="card-body">
<!--         
<div>
{{ imageError }}
<button class="btn btn-warning" type="button" (click)="filePicker.click()">
  Pick Image
</button>
<input type="file" #filePicker (change)="onImagePicked($event)" />
</div>
 <div class="image-preview" *ngFor="let img of base64ImgArray; let i = index">
  <img
    [src]="img"
    
    alt="form.value.memberName"
  />&nbsp;&nbsp;
  <button *ngIf="base64ImgArray.length > 0" (click)="removeImage(i)" class="btn btn-danger btn-sm" style="border-radius:50%">X</button>
  <br />
 </div> -->
 
      


  <form (submit)= "fileUploadHandler($event)" ngNativeValidate>
    <div>
      <input  type="file" style="  width: 96%" (change)="fileUpload($event)" required/>
    </div>
    <br />
    <div>
     <textarea [(ngModel)]='article.description' name="description" rows="10" style="width: 100%" required></textarea>
    </div>
    <!-- <button mat-raised-button type="submit" style="float: right" color="primary">Add Article</button> -->
</form>


<!-- <button mat-button mat-dialog-close>Close</button>
<button mat-raised-button>upload</button> -->

      </div>
    </div>
  
    <div class="text-center">
      <button class="btn btn-primary mr-1"  (click)="addphoto()">Sauvegarder</button>
      <button class="btn btn-danger mr-1" type="reset" (click)="onReset()">Annuler</button>
    </div>
  </div>

</ng-template>


  <!--ajout image couverure film -->  

<ng-template #template2>

  <div class="content-content">
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <!-- main app container -->
    <div class="card m-3">
      
      <div class="card-body">
<!--         
<div>
{{ imageError }}
<button class="btn btn-warning" type="button" (click)="filePicker.click()">
  Pick Image
</button>
<input type="file" #filePicker (change)="onImagePicked($event)" />
</div>
 <div class="image-preview" *ngFor="let img of base64ImgArray; let i = index">
  <img
    [src]="img"
    
    alt="form.value.memberName"
  />&nbsp;&nbsp;
  <button *ngIf="base64ImgArray.length > 0" (click)="removeImage(i)" class="btn btn-danger btn-sm" style="border-radius:50%">X</button>
  <br />
 </div> -->
 
      


  <form (submit)= "fileUploadHandler($event)" ngNativeValidate>
    <div>
      <input  type="file" style="  width: 96%" (change)="fileUpload($event)" required/>
    </div>
    <br />
    <div>
     <textarea [(ngModel)]='article.description' name="description" rows="10" style="width: 100%" required></textarea>
    </div>
    <!-- <button mat-raised-button type="submit" style="float: right" color="primary">Add Article</button> -->
</form>


<!-- <button mat-button mat-dialog-close>Close</button>
<button mat-raised-button>upload</button> -->

      </div>
    </div>
  
    <div class="text-center">
      <button class="btn btn-primary mr-1"  (click)="addphoto()">Sauvegarder</button>
      <button class="btn btn-danger mr-1" type="reset" (click)="onReset()">Annuler</button>
    </div>
  </div>

</ng-template>