<div class="text-center">
  
  <div class="main-card mb-3 card">  
  <h3>Gestion des catégories</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm">
  <input type="search" class=" rounded"   style="margin-top: 20px;margin-left: 20px;"  [(ngModel)]="filterString" (ngModelChange)="onFilterChange()" placeholder="Recherche" aria-label="Search" aria-describedby="search-addon" />
 
 </div> 
 <div class="col-sm">
   </div>
   <div class="col-sm">
  </div>
  <div class="col-sm">
  </div>
 <div class="col-sm">
  <button type="button" style="margin-top: 20px" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  (click)="openModal(template)" >
  Ajouter Categorie
   </button> 
   </div> 
</div>

<div   style="margin-top: 20px;"  >
 <div class="main-card mb-3 card">
   <div class="card-header">
    <b>Liste des Catégories</b>
   </div>
   <div class="table-responsive">
     <table  class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Libelle</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>

      <tbody>
      
        <tr *ngFor="let categ of filtered   | paginate: { itemsPerPage: 5, currentPage: p }">
      
          <td class="text-center">{{categ.id}}</td>
          <td class="text-center">{{categ.libelle}}</td>
          <td class="text-center">
             <button style=" margin:5px;" (click)="openModal(template,categ.id,categ.libelle)" class="mr-2 btn-icon btn-icon-only btn btn-warning">
             <i class="pe-7s-repeat btn-icon-wrapper"></i>
            </button>
            <button class="mr-2 btn-icon btn-icon-only btn btn-danger">
             <i class="pe-7s-trash btn-icon-wrapper" (click)="deleteCateg(categ.id)"> </i>
            </button>
         </td>
      
        </tr>
      </tbody>
    </table>
   </div>
 </div>
 
 </div>

 <div class="pagination">
  <pagination-controls class="text-center" (pageChange)="p = $event" class="float-right"></pagination-controls>
</div>
 
<ng-template #template>

  <div class="content-content">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- main app container -->
    <div class="card m-3">
      <span *ngIf="checkIdupdateCatg  ">         <h5 class="card-header">Mise a jour  nationalité</h5> </span>
      <span *ngIf="!checkIdupdateCatg  ">     <h5 class="card-header">Ajouter une nouvelle nationalité</h5> </span>
      <div class="card-body">
        <form [formGroup]="registerFormCateg" (ngSubmit)="onSubmitCatg()">
         <div class="row">
          <div class="form-group col-6">
            <label>libelle nationalité </label>
            <input type="text"  [(ngModel)]="updatelibellenCatg" formControlName="libelle" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }" />
            <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
              <div *ngIf="f.libelle.errors.required">libelle obligatoire</div>
            </div>
          </div>
        </div>
            <div class="text-center">
              <button class="btn btn-primary mr-1">Sauvegarder</button>
              <button class="btn btn-danger mr-1" type="reset" (click)="onReset()">Annuler</button>
            </div>

         
          
        </form>
       
      </div>
    </div>

  </div>

</ng-template>